/*==========================================
    How it works
==========================================*/
.how-it-works {
    padding: 120px 0;
    .single-works {
        // background: #f0f8ff;
        text-align: center;
        padding: 40px 30px 15px;
        @include transition($transition);
        box-shadow: 0px 0px 9px 2px #F5F5F5;
        &:hover {
            box-shadow: 0px 0px 19px 12px #F5F5F5;
        }
        .part-icon {
            font-size: 45px;
            color: #0088ff;
            line-height: 100%;
            margin-bottom: 23px;
            @include transition($transition);
        }
        .part-text {
            h3 {
                font-size: 24px;
                color: $hcolor-3;
                font-weight: 600;
                line-height: 34px;
                margin-bottom: 19px;
            }
            p {
                font-size: 16px;
                color: #666;
                line-height: 30px;
            }
        }
    }
}